/* main variable for entire body */
@bgimage: url('/img/bg/escher.png');
@textcolor: #222;
@mainfont: Helvetica;
@topbarfont: 'Raleway', Helvetica, Arial, sans-serif;
@headerfont: @topbarfont;
@fontstyle: normal;
@fontsize: 0.8em;
@vmargin: 4px;

/* variable which affect the main div content */
@pagewidth: 800px;
@contentbg: #F6F6F6;
@contentpadding: 8px;
@contentmargin: 4px;
@contentmarginv: @contentmargin + @contentpadding;
@bottomcornerradius: 10px;

/* colors for content above main content div */
@postbgcolor: #F3F3F3;
@postbordercolor: #DDD;
@postborderradius: 2px;
@postborderwidth: 1px;
@postpadding: 12px;

@descriptionbgcolor: @postbgcolor;
@descriptionbordercolor: @postbordercolor;
@descriptionborderradius: @postborderradius;
@descriptionborderwidth: @postborderwidth;

/* text formatting */
@textindent: 8px;

/* hyperlinks */
@linkcolor: #111;
@blocklinkcolor: #EEE;
@blocklinktextcolor: #000;
@blocklinkpadding: 8px;
@blocklinkbordercolor: #DDD;
@blocklinkborderwidth: 1px;
@blocklinkblur: 4px;

/* tables */
@tableborderwidth: 1px;
@tablebordercolor: @postbgcolor - #444;
@tablecellpadding: 1px;

/* other */
@rectangleovershoot: 16px;
@rectangleheight: 32px;

@navbarselectcolor: #777;

.border-radius (@radius: 5px) {
  border-radius: @radius;
}

.border-bottom-right-radius (@radius: 5px) {
  border-bottom-right-radius: @radius;
}

.border-bottom-left-radius (@radius: 5px) {
  border-bottom-left-radius: @radius;
}

.box-shadow (@x: 0) {
  box-shadow: @arguments;
}

body {
    background-image:@bgimage;
    color:@textcolor;
    font-style:@fontstyle;
    font-size:@fontsize;
    font-family:@mainfont;
    margin:@vmargin 0px;
}

#content {
    width:@pagewidth;
    background-color:@contentbg;
    padding-left:@contentpadding;
    padding-right:@contentpadding;
    .border-radius(@bottomcornerradius);
/*
    .border-bottom-right-radius(@bottomcornerradius);
    .border-bottom-left-radius(@bottomcornerradius);
*/
    .box-shadow(0px 0px 4px 0px grey);
}

table.homogenous {
	table-layout: fixed;
	width: @pagewidth;
}

table.bordered {
	border: solid @tablebordercolor @tableborderwidth;
	.border-radius(2px);
}

td { 
	padding-left:@tablecellpadding; 
	padding-right:@tablecellpadding;
}

.tabledivider {
	background: @tablebordercolor;
}

p.lpara { 
	text-align: left;
	padding: 0px @textindent 0px @textindent;
}

a { 
	text-decoration:none; 
	font-weight:bold; 
}
	
a:link { 
	color: @linkcolor; 
}
	
a:visited { 
	color: @linkcolor; 
}
	
a:hover { 
	color: @linkcolor + #333; 
}
	
a:active { 
	color: @linkcolor - #111; 
}
	
a.block {
	display:block;

	color:@blocklinktextcolor;
	background-color:@blocklinkcolor;
	
	padding:@blocklinkpadding;
	
	text-align:center;
	text-decoration:none;
	text-transform:lowercase;
		
/*	.border-radius(2px);*/
}
		
a.block:link, a.block:visited {
	border:solid @blocklinkbordercolor @blocklinkborderwidth;
	.box-shadow(0px 0px @blocklinkblur 0px darkgrey);
}		

a.block:hover {
	border:solid @blocklinkbordercolor + #111 @blocklinkborderwidth;
	.box-shadow(0px 0px @blocklinkblur + 2 0px darkgrey);
}
		
a.block:active {
	border:solid @blocklinkbordercolor + #111 @blocklinkborderwidth;
	.box-shadow(0px 0px @blocklinkblur 0px grey inset);
}

a.blockdepressed:link {
/*    background-color:@blocklinkcolor - #666;*/
        .box-shadow(0px 0px @blocklinkblur 0px @navbarselectcolor);

}

ul {
    padding-left:16px;
    margin:0px;
}

.center {
    margin:auto;
    width:800px;
}

.right {
    text-align:right
}

.description {
	width: @pagewidth - @contentmargin * 2;
    border:@descriptionborderwidth solid @descriptionbordercolor;
    .border-radius(@descriptionborderradius);
    background: @descriptionbgcolor;
	margin: @contentmarginv @contentmargin;
}

.descriptionembed {
    width: @pagewidth - @contentmargin * 2;
    border:@descriptionborderwidth solid @descriptionbordercolor;
    .border-radius(@descriptionborderradius);
    background: @descriptionbgcolor;
    position: relative;
    top: -@rectangleovershoot * 2;
    margin: 0px @contentmargin;
}

.pagelogo {
    border:0;
    width:64px;
/*
    height:64px;
*/
    padding:8px;
}

.logoholder {
	width:80px;
	background: @blocklinkcolor;
	.box-shadow(0px 0px 4px 0px grey inset);
	.border-radius(@descriptionborderradius);
}

#linkbar {
	position: relative;
	left: -@contentpadding;
	width: @pagewidth + @contentpadding * 2;
/*	width: @pagewidth + @contentpadding * 2;*/
}

#navbar {
	width: inherit;
}

.post {
    border:@postborderwidth solid @postbordercolor;
	.border-radius(@postborderradius);
    position:relative;
    top:-32px;
    background:#F3F3F3;
    padding:@postpadding;
    width: @pagewidth - @postpadding * 2;
}

.triangle-l {
    border-color: transparent lightgrey transparent transparent;
    border-style:solid;
    border-width:@rectangleovershoot;
    height:0px;
    width:0px;
    position:relative;
    left:-@rectangleovershoot * 2;
    top:@rectangleovershoot;
    z-index: -1; /* displayed under bubble */
}

.triangle-r {
    border-color:transparent transparent transparent lightgrey;
    border-style:solid;
    border-width:@rectangleovershoot;
    height:0px;
    width:0px;
    position:relative;
    left:@pagewidth;
    top:-@rectangleovershoot;
    z-index:-1;
}

.rectangle {
    background:@blocklinkcolor;
    height:@rectangleheight;
    width:@pagewidth + @rectangleovershoot * 2;
    position:relative;
    left:-@rectangleovershoot;
    top:0px;
    float:left;
    box-shadow: 0px 0px 4px 0px grey;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    z-index:100; 
    margin: 0px;
}

.linkspan {
    text-align:left;
    font-family:@headerfont;
    font-size:20px;
    position:relative;
    top:6px;
    padding-left:16px;
    font-style: italic;
}

#topbar {
	padding:8px 0px 0px 0px;
}

a#title { 
    font-weight:normal; 
    font-family: @topbarfont;
    font-size:4em;
}

#footer {
    width: @pagewidth;
    font-size:0.7em;
    text-align:center;
    padding:@contentpadding 0px @contentpadding 0px;
}

.groove {
    color:@contentbg;
    height:1px;
    padding:0px;
    margin:0px @contentpadding 0px @contentpadding;
    border:0px;
    width:@pagewidth - @contentpadding * 2;
    box-shadow:1px -1px 1px 0px #CCC;
}

.soclink {
    text-decoration:none;
}

.socicon {
    border:0;
    width:32px;
    height:32px;
}




