/* main variable for entire body */
/*@textcolor: #21F10C;*/
/* variable which affect the main div content */
/*@contentbg: #222;*/
/*orange*/
/*@contentbg: #00f1ff;*//*cyan*/
/* colors for content above main content div */
/*@postbgcolor: #00f1ff;*/
/* text formatting */
/* hyperlinks */
/* tables */
/* other */
body {
  background-image: url('/img/bg/cartographer.png');
  color: #444444;
  font-style: normal;
  font-size: 0.8em;
  font-family: Helvetica;
  margin: 4px 0px;
}
#content {
  background-image: -moz-linear-gradient(bottom, #ffae00 0%, #fbff00 100%);
  background-image: -o-linear-gradient(bottom, #ffae00 0%, #fbff00 100%);
  background-image: linear-gradient(bottom, #ffae00 0%, #fbff00 100%);
  background-image: -webkit-linear-gradient(bottom, #ffae00 0%, #fbff00 100%);
  width: 800px;
  /*background-color:@contentbg;*/

  /**background-color:spin(@contentbg, 15%);*/

  padding-left: 8px;
  padding-right: 8px;
  border-radius: 10px;
  /*
    .border-bottom-right-radius(@bottomcornerradius);
    .border-bottom-left-radius(@bottomcornerradius);
*/

  box-shadow: 0px 0px 4px 0px #808080;
}
table.homogenous {
  table-layout: fixed;
  width: 800px;
}
table.bordered {
  border: solid #bb9500 1px;
  border-radius: 2px;
}
td {
  padding-left: 1px;
  padding-right: 1px;
}
.tabledivider {
  background: #bb9500;
}
p.lpara {
  text-align: left;
  padding: 0px 8px 0px 8px;
}
a {
  text-decoration: none;
  font-weight: bold;
}
a:link {
  color: #333333;
}
a:visited {
  color: #333333;
}
a:hover {
  color: #666666;
}
a:active {
  color: #222222;
}
a.block {
  display: block;
  color: #444444;
  background-color: #ffd900;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  /*	.border-radius(2px);*/

}
a.block:link,
a.block:visited {
  border: solid #ffea11 1px;
  box-shadow: 0px 0px 4px 0px #a9a9a9;
}
a.block:hover {
  border: solid #fffb22 1px;
  box-shadow: 0px 0px 6px 0px #a9a9a9;
}
a.block:active {
  border: solid #fffb22 1px;
  box-shadow: 0px 0px 4px 0px #808080 inset;
}
a.blockdepressed:link {
  /*    background-color:@blocklinkcolor - #666;*/

  box-shadow: 0px 0px 4px 0px #777777;
}
ul {
  padding-left: 16px;
  margin: 0px;
}
.center {
  margin: auto;
  width: 800px;
}
.right {
  text-align: right;
}
.description {
  width: 792px;
  border: 1px solid #fffb22;
  border-radius: 2px;
  background: #ffd900;
  margin: 12px 4px;
}
.descriptionembed {
  width: 792px;
  border: 1px solid #fffb22;
  border-radius: 2px;
  background: #ffd900;
  position: relative;
  top: -32px;
  margin: 0px 4px;
}
.pagelogo {
  border: 0;
  width: 64px;
  /*
    height:64px;
*/

  padding: 8px;
}
.logoholder {
  width: 80px;
  background: #ffd900;
  box-shadow: 0px 0px 4px 0px #808080 inset;
  border-radius: 2px;
}
#linkbar {
  position: relative;
  left: -8px;
  width: 816px;
  /*	width: @pagewidth + @contentpadding * 2;*/

}
#navbar {
  width: inherit;
}
.post {
  border: 1px solid #fffb22;
  border-radius: 2px;
  position: relative;
  top: -32px;
  background: #ffd900;
  padding: 12px;
  width: 776px;
}
.triangle-l {
  border-color: transparent white transparent transparent;
  border-style: solid;
  border-width: 16px;
  height: 0px;
  width: 0px;
  position: relative;
  left: -32px;
  top: 16px;
  z-index: -1;
  /* displayed under bubble */

}
.triangle-r {
  border-color: transparent transparent transparent white;
  border-style: solid;
  border-width: 16px;
  height: 0px;
  width: 0px;
  position: relative;
  left: 800px;
  top: -16px;
  z-index: -1;
}
.rectangle {
  background: #ffd900;
  height: 32px;
  width: 832px;
  position: relative;
  left: -16px;
  top: 0px;
  float: left;
  box-shadow: 0px 0px 4px 0px grey;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  z-index: 100;
  margin: 0px;
}
.linkspan {
  text-align: left;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 20px;
  position: relative;
  top: 6px;
  padding-left: 16px;
  font-style: italic;
}
#topbar {
  padding: 8px 0px 0px 0px;
}
a#title {
  font-weight: normal;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 4em;
}
#footer {
  width: 800px;
  font-size: 0.7em;
  text-align: center;
  padding: 8px 0px 8px 0px;
}
.groove {
  color: #ffae00;
  height: 1px;
  padding: 0px;
  margin: 0px 8px 0px 8px;
  border: 0px;
  width: 784px;
  box-shadow: 1px -1px 1px 0px #dd8c00;
}
.soclink {
  text-decoration: none;
}
.socicon {
  border: 0;
  width: 32px;
  height: 32px;
}
