body {
/*    background-color:#F6F9FC;*/
/*    background-color:#FFF;*/
    background-image:url('/img/bg/light_toast.png');
    color:#222;
    font-style:normal;
    font-family:Helvetica;
    font-size:0.8em;
    margin:0px 0px;
}

#content {
    width:800px;
    height:100%;
    background-color:#F6F6F6;
    padding-left:8px;
    padding-right:8px;
    overflow:hide;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    box-shadow:0px 0px 4px 0px grey;
}

table#homogenous {
    table-layout:fixed;
}

td { padding:0px; }

p#lpara { 
    text-align:left;
    padding:0px 0px 0px 10px;
}


a { text-decoration:none; font-weight:bold; }
a:link { color:#111; }
a:visited { color:inherit; }
a:hover { color:#444; }
a:active { color:#000; }

ul {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}

li { float:left; }

a.block:link, a.block:visited {
    display:block;
    color:#000;
    background-color:#EEE;
    text-align:center;
    padding:8px;
    text-decoration:none;
    text-transform:lowercase;
    border:solid #DDD 1px;
    border-radius:2px;
/*    border-bottom:solid #61E9DB 2px;*/
    box-shadow:0px 0px 4px 0px darkgrey;
/*    font-weight:bold;*/
}

a.block:hover {
/*    border-bottom:solid #CCC 2px; */
    box-shadow:0px 0px 6px 0px darkgrey;
    border:solid #EEE 1px;
}

a.block:active {
    box-shadow:0px 0px 4px 0px grey;
    border:solid #EEE 1px;
    box-shadow:0px 0px 4px 0px grey inset;
}

h2 {
/*    border-bottom:solid #666666 1px;*/
}

#linkbar {
    width:800px;
}

.center {
    margin:auto;
    width:800px;
}

.round {
    border-radius:6px;
    -moz-border-radius:6px;
}

.right {
    text-align:right
}

#description {
    border:1px solid #DDD;
    border-radius:2px;
    padding:0px;
    background:#F3F3F3;
}

.post {
    border:1px solid #DDD;
    border-radius:2px;
    padding:0px;
    position:relative;
    top:-32px;
    background:#F3F3F3;
}

.post p {
    padding-left:8px;
}

.triangle-l {
    border-color: transparent lightgrey transparent transparent;
    border-style:solid;
    border-width:16px;
    height:0px;
    width:0px;
    position:relative;
    left:-32px;
    top:16px;
    z-index: -1; /* displayed under bubble */
}

.triangle-r {
    border-color:transparent transparent transparent lightgrey;
    border-style:solid;
    border-width:16px;
    heighpt:0px;
    width:0px;
    position:relative;
    left:800px;
    top:-16px;
    z-index:-1;
}

.rectangle {
    background:gainsboro;
    height:32px;
    width:832px;
    position:relative;
    left:-16px;
    top:0px;
    float:left;
    box-shadow: 0px 0px 4px 0px grey;
    z-index:100; 
}

.rectangle h2 {
    text-align:left;
    font-family:Helvetica;
    font-size:20px;
    position:relative;
    top:-12px;
    padding-left:16px;
}

a#title { 
    font-weight:normal; 
    font-family:'Raleway', Helvetica, Arial, sans-serif;
    font-size:4em;
    padding:4px 0px;
}

#footer {
    font-size:0.7em;
    text-align:center;
}

.groove {
    color:white;
    height:1px;
    padding:0px;
    margin:0px;
    border:0px;
    position:relative;
    left:8px;
    width:784px;
    box-shadow:1px -1px 1px 0px #CCC;
}